<ul class="article-list">
    <li>
        <a href="index.html" class="avatar-wrap">
        <div class="avatar">
            <img src="./img/avatar.jpg" alt="">
        </div>            
        </a>
        <div class="dream-wrap">
            <a href="article.html">
            <div class="title">
                <time class="fr">15:00 4-24</time>
                <a href="article.html"><h3>梦境题目title</h3></a>
                <a href="index.html"><span>我的名字</span></a>
            </div>
            </a>
            <div class="img-list">
                <div class="img"><img src="./img/avatar.jpg" alt=""></div>
                <div class="img"><img src="./img/avatar.jpg" alt=""></div>
                <div class="img"><img src="./img/avatar.jpg" alt=""></div>
            </div>
            <p>如果无法简洁的表达你的想法,那只说明你还不够了解它.阿尔伯特.爱因斯坦<a href="other.html">@other</a>如果无法简洁的表达你的想法,<a href="topic.html">#那只说明你还不够了解它</a>.阿尔伯特.爱因斯坦如果无法简洁的表达你的想法,那只说明你还不够了解它.阿尔伯特.爱因斯坦如果无法简洁的表达你的想法,那只说明你还不够了解它.阿尔伯特.爱因斯坦如果无法简洁的表达你的想法,那只说明你还不够了解它.阿尔伯特.爱因斯坦如果无法简洁的表达你的想法,那只说明你还不够了解它.阿尔伯特.爱因斯坦如果无法简洁的表达你的想法,那只说明你还不够了解它.阿尔伯特.爱因斯坦如果无法简洁的表达你的想法,那只说明你还不够了解它.阿尔伯特.爱因斯坦</p>
            {% if isOther %}
            {% include './actions.html' with {type:3} %}
            {% else %}
            {% include './actions.html' with {type:1} %}
            {% endif %}
        </div>
    </li>
    <li>
        <a href="index.html" class="avatar-wrap">
        <div class="avatar">
            <img src="./img/avatar.jpg" alt="">
        </div>            
        </a>
        <div class="dream-wrap">
                <div class="title">
                    <time class="fr">18:00 昨天</time>
                    <a href="article.html"><h3>梦境题目title2</h3></a>
                    <a href="index.html"><span>我的名字</span></a>
                </div>
            <div class="img-list">
                <div class="img"><img src="./img/avatar.jpg" alt=""></div>
                <div class="img"><img src="./img/avatar.jpg" alt=""></div>
                <div class="img"><img src="./img/avatar.jpg" alt=""></div>
            </div>
            <p>如果无法简洁的表达你的想法,那只说明你还不够了解它.阿尔伯特.爱因斯坦如果无法简洁的表达你的想法,那只说明你还不够了解它.阿尔伯特.爱因斯坦如果无法简洁的表达你的想法,那只说明你还不够了解它.阿尔伯特.爱因斯坦</p>
            {% if isOther %}
            {% include './actions.html' with {type:3} %}
            {% else %}
            {% include './actions.html' with {type:1} %}
            {% endif %}

        </div>
    </li>
</ul>