<div class="user-info">
    {% if isSelf %}
    <a class="edit" href="/edit_user" title="编辑我的信息"><i class="icon-edit-alt"></i></a>
    {% endif %}
    {% if isOther and isLogin %}
    <a id="black" class="delete" href="javascript:;" title="加入黑名单">
        <i class="icon-ellipsis"></i>
    </a>
    {% endif %}    
    <div class="avatar">
        <img src="{{user.avatar}}" alt="avatar">
    </div>
    <h2 class="name">{{user.uname}}</h2>
    <p class="desc">{{user.intro}}</p>
    <div class="nav">
        <a {% if isSelf or isOther %} class="active" href="javascript:;"{% else %}href="/"{% endif %}>我的梦<span>{{user.feed_count}}</span></a>
        {% if user.feed_image_count > 0 %}
        <a {% if isPic %} class="active"{% endif %} href="/pictures">插图<span>{{user.feed_image_count}}</span></a>
        {% endif %}
        <!-- <a {% if isCollect %} class="active"{% endif %} href="/collection">收藏<span>{{user.wish_count}}</span></a> -->
    </div>
    <div class="info">
        <p title="性别"><i class="icon-venus-mars"></i><span>{{user.sex}}</span></p>
        <p title="剩下多少生命"><i class="icon-hourglass"></i><span>{{user.age}}</span></p>
        <p title="职业"><i class="icon-briefcase"></i><span>{{user.job}}</span></p>
        <p title="地域"><i class="icon-location"></i><span>{{user.location}}</span></p>
    </div>
    <div class="tags">
        {% for tag in user.tags %}
        <a href="/tag/{{tag}}">{{tag}}</a>
        {% endfor %}
    </div>
</div>