<!DOCTYPE html>
<html lang="en">
<head>
<title>{% block title %}{% endblock %}</title>
{% include './partial/meta.html' %}
<link rel="stylesheet" href="./lib/fontello/fontello.css">
<link rel="stylesheet" href="./css/index.css">
{% block css %}{% endblock %}
</head>
<body>
{% include './partial/header.html' with {isExplore:true} %}
<div class="content clearfix">
	<div class="left">
		{% autoescape false %}
		{% block left %}{% endblock %}
		{% endautoescape %}
	</div>
	<div class="right">
		{% autoescape false %}
		{% block right %}{% endblock %}
		{% endautoescape %}
	</div>
	<div class="middle">
		{% autoescape false %}
		{% block middle %}{% endblock %}
		{% endautoescape %}
	</div>
</div>
<div id="comment" class="comment">
	<a class="close" href="javascript:;"><i class="icon-minus-circled"></i></a><p>回复</p>
	<div id="commentText" class="edit-div comment-text" placeholder="评论" contenteditable="true"></div>
	<i id="replyComment" class="icon-paper-plane"></i>
</div>
<input type="file" name="file" id="replaceUpload" class="replace-upload">
<div id="overlay" class="overlay"></div>
<div class="wxshare-popup">
    <a class="close" href="javascript:;">×</a>
    <p>扫一扫，分享到微信</p>
    <div id="qrcode" class="wx-qrcode"></div>
</div>
<div id="popImg" class="pop-img"><a class="close" href="javascript:;">×</a></div>
<script src="./lib/jquery.min.js"></script>
<script src="./lib/clipboard.min.js"></script>
<script src="./lib/qrcode.min.js"></script>
{% block js %}{% endblock %}
</body>
</html>