{% extends './layout/layout-user.html' %}
{% block title %}禁止访问-iDream{% endblock %}
{% block css %}
<style>body{background-color: #eee;} .header .inner{background-color: #eee;}.content .left { border-right: none; } .content .middle { text-align: center; } .forbit { display: inline-block; margin-top: 150px; margin-left: 10px; padding: 15px 20px; border: 1px solid #aaa; border-radius: 8px; background-color: #fff; z-index: 9999; } </style>
{% endblock %}
{% block left %}{% endblock %}
{% block middle %}
{% if isBlack %}
<div class="forbit">Hey 该用户已拉黑你, 别挣扎了</div>
{% else %}
<div class="forbit">该用户关闭了自己, 不公开</div>
{% endif %}
{% endblock %}
{% block right %}
{% endblock %}