{% extends './layout/layout-user.html' %}
{% block title %}探索-iDream{% endblock %}
{% block css %}
<style> .content .left{border-right: none; } </style>
{% endblock %}
{% block js %}
<script src="/js/notice.min.js"></script>
{% endblock %}
{% block left %}{% endblock %}
{% block middle %}
{% if !list.length %}
<div class="no-list">没有消息</div>
{% else %}
<ul class="article-list notice">
    {% for m in list %}
    <li {% if m.is_open == 0 %}class="new"{%endif%}>
        <a href="/user/{{m.feed_uid}}" class="avatar-wrap">
            <div class="avatar">
                <img src="{{m.from_avatar||'/img/avatar.jpg'}}" alt="avatar">
            </div>
        </a>
        <div class="dream-wrap">
            <div class="title">
                <a href="/article/{{m.feed_id}}"><time class="fr">{{m.add_time}}</time></a>
                <a href="/user/{{m.feed_uid}}"><span>{{m.from_uname}}</span><a> | {% if m.type==1 %}评论文章{%endif%}{% if m.type ==2 %}点赞文章{%endif%}{% if m.type ==3 %}回复评论{%endif%}
                <a href="/article/{{m.feed_id}}"><span>{{m.title}}</span></a>
            </div>
            {% if m.review_content %}
            <a class="content-link"href="/article/{{m.feed_id}}"><div>{{m.review_content}}</div></a>
            {% endif %}
        </div>
    </li>
    {% endfor %}
</ul>
{%endif%}
{% endblock %}
{% block right %}
<script id="liTemp" type="text/html">
<li class="(new)">
    <a href="/user/(feed_uid)" class="avatar-wrap">
        <div class="avatar">
            <img src="(from_avatar)" alt="avatar">
        </div>
    </a>
    <div class="dream-wrap">
        <div class="title">
            <a href="/article/(feed_id)"><time class="fr">(add_time)</time></a>
            <a href="/user/(feed_uid)"><span>(from_uname)</span><a> | (type)
            <a href="/article/(feed_id)"><span>(title)</span></a>
        </div>
        (content)
    </div>
</li>
</script>
{% endblock %}
