{% extends './layout/layout-user.html' %}
{% block title %}{% if isSelf %}我{% else %}{{user.uname}}{% endif %}的插图-iDream{% endblock %}
{% block js %}
<script>var HasImg=2;var Suid='{{self.uid}}';</script>
<script src="/js/{% if isSelf %}index.min.js{% else %}other.min.js{% endif %}"></script>
{% endblock %}
{% block left %}
{% include './partial/user-info.html' with {isPic:true} %}
{% endblock %}
{% block middle %}
{% if !list.length %}
<div class="no-list">没有文章</div>
{% else %}
<ul class="article-list">
    {% for li in list %}
    <li>
        <div class="avatar-wrap">
        <div class="avatar">
            <img src="{{li.avatar}}" alt="avatar">
        </div>            
        </div>
        <div class="dream-wrap">
            <div class="title">
                <a href="/article/{{li.feed_id}}"><time class="fr">{{li.publish_time}}</time></a>
                <a href="/article/{{li.feed_id}}"><h3>{{li.title}}</h3></a>
                <span>{{li.uname}}</span>
            </div>
            <div class="img-list">
                {% for img in li.imgInfo %}
                <div class="img"><img src="{{img}}" alt=""></div>
                {% endfor %}
            </div>
            <div class="text">{{li.content}}</div>
            <div class="actions">
                {% if isSelf %}
                <i class="icon-eye-off private" title="私密" style="display:{% if li.show_type ==2%}inline{%else%}none{%endif%};"></i>
                {% endif %}
                <i data-tag="up" data-id="{{li.feed_id}}" class="icon-heart {% if li.has_digg == 1%}active{% endif %}" title="比心"></i><span>{{li.digg_count}}</span><i data-tag="comment" data-id="{{li.feed_id}}" class="icon-comment" title="评论"></i><span>{{li.comment_count}}</span><i data-tag="share" class="icon-forward" title="传达"></i>
                {% if isSelf %}
                <i data-tag="more" class="icon-ellipsis" title="更多"></i>
                {% endif %}
                <div class="down-tip" data-menu="share">
                    <div class="menu">
                        <a data-tag="copy" href="javascript:;" data-clipboard-text="/article/{{li.feed_id}}">复制链接</a>
                        <a class="share-icon" href="javascript:;" data-url="/article/{{li.feed_id}}">
                            <i data-tag="facebook" class="icon-facebook-squared"></i>
                            <i data-tag="weibo" class="icon-sina-weibo"></i>
                            <i data-tag="douban">豆</i>
                            <i data-tag="qq" class="icon-qq"></i>
                            <i data-tag="wechat" class="icon-wechat"></i>
                            <i data-tag="whatsapp" class="icon-whatsapp"></i>
                        </a>
                    </div>
                </div>
                {% if isSelf %}
                <div class="down-tip" data-menu="more">
                    <div class="menu">
                        <a href="/edit/{{li.feed_id}}">编辑</a>
                        <a data-tag="delete" data-id="{{li.feed_id}}" href="javascript:;">删除</a>
                        <a data-tag="private" data-id="{{li.feed_id}}" data-type="{{li.show_type}}" href="javascript:;">设为{% if li.show_type ==2%}公开{%else%}私密{%endif%}</a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{%endif%}
{% endblock %}
{% block right %}
<script id="liTemp" type="text/html">
<li>
    <div class="avatar-wrap">
    <div class="avatar">
        <img src="(avatar)" alt="avatar">
    </div>            
    </div>
    <div class="dream-wrap">
        <div class="title">
            <a href="/article/(feed_id)"><time class="fr">(publish_time)</time></a>
            <a href="/article/(feed_id)"><h3>(title)</h3></a>
            <span>(uname)</span>
        </div>
        <div class="img-list">(imgs)</div>
        <div class="text">(content)</div>
        <div class="actions">
            {% if isSelf %}
            <i class="icon-eye-off private" title="私密" style="display:(pstyle);"></i>
            {% endif %}
            <i data-tag="up" data-id="(feed_id)" class="icon-heart (has_digg)" title="比心"></i><span>(digg_count)</span><i data-tag="comment" data-id="(feed_id)" class="icon-comment" title="评论"></i><span>(comment_count)</span><i data-tag="share" class="icon-forward" title="传达"></i>
            {% if isSelf %}
            <i data-tag="more" class="icon-ellipsis" title="更多"></i>
            {% endif %}
            <div class="down-tip" data-menu="share">
                <div class="menu">
                    <a data-tag="copy" href="javascript:;" data-clipboard-text="/article/(feed_id)">复制链接</a>
                    <a class="share-icon" href="javascript:;" data-url="/article/(feed_id)">
                        <i data-tag="facebook" class="icon-facebook-squared"></i>
                        <i data-tag="weibo" class="icon-sina-weibo"></i>
                        <i data-tag="douban">豆</i>
                        <i data-tag="qq" class="icon-qq"></i>
                        <i data-tag="wechat" class="icon-wechat"></i>
                        <i data-tag="whatsapp" class="icon-whatsapp"></i>
                    </a>
                </div>
            </div>
            {% if isSelf %}
            <div class="down-tip" data-menu="more">
                <div class="menu">
                    <a href="/edit/(feed_id)">编辑</a>
                    <a data-tag="delete" data-id="(feed_id)" href="javascript:;">删除</a>
                    <a data-tag="private" data-id="(feed_id)" data-type="(show_type)" href="javascript:;">设为(ptxt)</a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</li>
</script>
{% endblock %}
