{% extends './layout/layout-user.html' %}
{% block title %}{{user.uname}}的主页-iDream{% endblock %}
{% block js %}
<script>var HasImg='';</script>
<script src="/js/other.min.js"></script>
{% endblock %}
{% block left %}
{% include './partial/user-info.html' with {isIndex:true} %}
{% endblock %}
{% block middle %}
{% if !list.length %}
<div class="no-list">没有文章</div>
{% else %}
<ul class="article-list">
    {% for li in list %}
    <li>
        <div class="avatar-wrap">
        <div class="avatar">
            <img src="{{li.avatar}}" alt="avatar">
        </div>            
        </div>
        <div class="dream-wrap">
            <div class="title">
                <a href="/article/{{li.feed_id}}"><time class="fr">{{li.publish_time}}</time></a>
                <a href="/article/{{li.feed_id}}"><h3>{{li.title}}</h3></a>
                <span>{{li.uname}}</span>
            </div>
            <div class="img-list">
                {% for img in li.imgInfo %}
                <div class="img"><img src="{{img}}" alt=""></div>
                {% endfor %}
            </div>
            <div class="content">{{li.content}}</div>
            <div class="actions">
                <i data-tag="up" data-id="{{li.feed_id}}" class="icon-heart {% if li.has_digg == 1%}active{% endif %}" title="比心"></i><span>{{li.digg_count}}</span>
                <i data-tag="comment" data-id="{{li.feed_id}}" class="icon-comment" title="评论"></i><span>{{li.comment_count}}</span>
                <i data-tag="share" class="icon-forward" title="传达"></i>
                <div class="down-tip" data-menu="share">
                    <div class="menu">
                        <a data-tag="copy" href="javascript:;" data-clipboard-text="/article/{{li.feed_id}}">复制链接</a>
                        <a class="share-icon" href="javascript:;" data-url="/article/{{li.feed_id}}">
                            <i data-tag="facebook" class="icon-facebook-squared"></i>
                            <i data-tag="weibo" class="icon-sina-weibo"></i>
                            <i data-tag="douban">豆</i>
                            <i data-tag="qq" class="icon-qq"></i>
                            <i data-tag="wechat" class="icon-wechat"></i>
                            <i data-tag="whatsapp" class="icon-whatsapp"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{%endif%}
<script id="liTemp" type="text/html">
<li>
    <div class="avatar-wrap">
    <div class="avatar">
        <img src="(avatar)" alt="avatar">
    </div>            
    </div>
    <div class="dream-wrap">
        <div class="title">
            <a href="/article/(feed_id)"><time class="fr">(publish_time)</time></a>
            <a href="/article/(feed_id)"><h3>(title)</h3></a>
            <span>(uname)</span>
        </div>
        <div class="img-list">(imgs)</div>
        <div class="content">(content)</div>
        <div class="actions">
            <i data-tag="up" data-id="(feed_id)" class="icon-heart (has_digg)" title="比心"></i><span>(digg_count)</span>
            <i data-tag="comment" data-id="(feed_id)" class="icon-comment" title="评论"></i><span>(comment_count)</span>
            <i data-tag="share" class="icon-forward" title="传达"></i>
            <div class="down-tip" data-menu="share">
                <div class="menu">
                    <a data-tag="copy" href="javascript:;" data-clipboard-text="/article/(feed_id)">复制链接</a>
                    <a class="share-icon" href="javascript:;" data-url="/article/(feed_id)">
                        <i data-tag="facebook" class="icon-facebook-squared"></i>
                        <i data-tag="weibo" class="icon-sina-weibo"></i>
                        <i data-tag="douban">豆</i>
                        <i data-tag="qq" class="icon-qq"></i>
                        <i data-tag="wechat" class="icon-wechat"></i>
                        <i data-tag="whatsapp" class="icon-whatsapp"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</li>
</script>
{% endblock %}
{% block right %}
{% endblock %}
